:root {
    --main-bg-color: #f8f9fa;
    --sidebar-width: 250px;
    --sidebar-transition-duration: 0.3s;
}

body {
    body {
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    margin: 0; /* Adicionado para remover as margens padrão do body */
    padding: 0; /* Adicionado para remover o padding padrão do body */
}
}

#wrapper {
    display: flex;
}

/* Sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    width: var(--sidebar-width);
    transition: margin var(--sidebar-transition-duration);
}

.sidebar-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Page Content */
#page-content-wrapper {
    min-width: 100vw;
}

/* Toggle Class */
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Responsividade */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: calc(-1 * var(--sidebar-width));
    }
}